h2 {
  text-align: center;
}

.animated-list {
  flex: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 769px) {}

.animated-list a {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: space-between;
  min-width: auto;
}

.flex>.list-container {
  display: block;
  flex: 1;
  overflow: hidden;
}

.list-container {
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.resume-container {
  max-height: 0;
  overflow: hidden; /* Hide overflowing content */
  transition: max-height 0.5s ease; /* Smooth transition for max-height */
}

.list-container.visible .resume-container {
  max-height: 925px;
}

.resume {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
}


.list-item {
  opacity: 0;
  transform: translateX(-50px);
  width: inherit;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: opacity 0.5s ease, transform 0.5s ease, background-color 250ms linear;
  -webkit-transition: opacity 0.5s ease, transform 0.5s ease, background-color 250ms linear;
  -ms-transition: opacity 0.5s ease, transform 0.5s ease, background-color 250ms linear;
}

.list-item a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.list-item.animate {
  opacity: 1;
  transform: translateX(0);
}

.list-item:hover {
  background-color: rgb(214, 241, 164);
  font-weight: 500;
  transform: translateX(10px);
  transition: transform 0.3s ease;
}

.resume {
  display: flex;
  justify-content: center;
  max-width: 720px;
  width: 75vw;
}